@media screen ( min-width: 375;max-width: 667;
    display: flex: ;
    flex-wrap: wrap;
    
)
.parent{top: 0px;
    left: 0px;
    width: 1366px;
    height: 1368px;
    background-color: #F7F7F7;
display: flex;
flex-wrap: wrap;}


    .child1,.child2,.child3,.child4,.child5{
        width: 352px;
        height: 360px;
    color: #00A5EC;
background-color: #FFFFFF;

margin: 10px;
padding: 15px;
box-sizing: border-box;
text-align: 10px left;
font: bold bold large 20px/24px Inter;
letter-spacing: 0px;
border: 1px solid #EDEDED;
border-radius: 10px;}
.head{text-align: left ;
    font: normal normal bold 40px/49px Inter;
    letter-spacing: 0px;
    opacity: 1;}
    span{color:  #00A5EC;}
    
    .check{text-align: left;
        font: normal normal normal 18px/21px Inter;
        letter-spacing: 0px;
        color: #C2C2C2;
        opacity: 1;
    text-decoration: line-through; }
        .box{background: #C2C2C2 0% 0% no-repeat padding-box;
            border-radius: 4px;
            opacity: 1;
        }
        .box1{background: #F7F7F7 0% 0% no-repeat padding-box;
            border: 1px solid #EDEDED;
            border-radius: 4px;
            opacity: 1;}
            .aria{text-align: left;
                font: normal normal normal 18px/21px Inter;
                letter-spacing: 0px;
                color: #424242;
                opacity: 1;}
.icons{color: #00A5EC;font-size: 35px;
    
text-align: center;}
.tt{
    /* font-size: 15px; */
    font: normal normal normal 22px/26px Inter;
    letter-spacing: 0px;
    color: #424242;
    opacity: 1;}
             
           