@media screen ( min-width: 375;max-width: 667;
    display : flex ;
    flex-wrap : wrap;
    
)
.head{text-align: left ;
    font: normal normal bold 40px/49px Inter;
    letter-spacing: 0px;
    opacity: 1;
background-color: white;}
    span{color:  #00A5EC;}
    .icons{color: #00A5EC;font-size: 35px;
    
        margin-left: 1000px;}
        .tt{
            /* font-size: 15px; */
            font: normal normal normal 22px/26px Inter;
            letter-spacing: 0px;
            color: #424242;
            opacity: 1;}
             .papa{display: flex;
            justify-content: space-evenly;
            
   

flex-wrap: wrap;
        }   
            .box{background: #C2C2C2 0% 0% no-repeat padding-box;
                border-radius: 4px;
                opacity: 1;
            }
            .box1{background: #F7F7F7 0% 0% no-repeat padding-box;
                border: 1px solid #EDEDED;
                border-radius: 4px;
                opacity: 1;}     
                .aria{text-align: left;
                    font: normal normal normal 18px/21px Inter;
                    letter-spacing: 0px;
                    color: #424242;
                    opacity: 1;}
                    .check{text-align: left;
                        font: normal normal normal 18px/21px Inter;
                        letter-spacing: 0px;
                        color: #C2C2C2;
                        opacity: 1;
                    text-decoration: line-through; }
                    .bete3{   width: 352px;
                        height: 360px;
                    color: #00A5EC;
                background-color: #FFFFFF;
                margin: 10px;
                padding: 15px;
                box-sizing: border-box;
                text-align: 10px left;
                font: bold bold large 20px/24px Inter;
                letter-spacing: 0px;
                border: 1px solid #EDEDED;
                border-radius: 10px;}
                body{top: 0px;
                    left: 0px;
                    /* width: 1366px;
                    height: 769px; */
                    /* UI Properties */
                    background: #F7F7F7 0% 0% no-repeat padding-box;
                    opacity: 1;}
